<!-- Steps 2.4_G -->
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- @todo: fill with your company info or remove -->
    <meta name="description" content="learning javascript">
    <meta name="author" content="theodore.com">

    <title>Hello EJS</title>

    <!-- Steps 2.4_J : include bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body class="container">

      <h2> This is the body </h2>
