<!-- Steps 2.4_B -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello EJS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- @todo: fill with your company info or remove -->
    <meta name="description" content="learning javascript">
    <meta name="author" content="theodore.com">

  </head>

  <body>

      <%= Math.random() %>

      <br /><br /><br />

      <!-- Steps 2.4_E -->
      <%= content %>

      <br /><br /><br />

      <!-- Steps 2.4_G -->
      <%- content %>

  </body>
</html>
